/* settings radio buttons */
.radio {
    margin: 0.5rem;
}

.radio input[type=radio] {
    position: absolute;
    opacity: 0;
}

.radio input[type=radio]+.radio-label:before {
    content: "";
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    position: relative;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.radio input[type=radio]:checked+.radio-label:before {
    background-color: #3197ee;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type=radio]:focus+.radio-label:before {
    outline: none;
    border-color: #3197ee;
}

.radio input[type=radio]:disabled+.radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

.radio input[type=radio]+.radio-label:empty:before {
    margin-right: 0;
}
/* settings radio buttons */


/* dark mode toggler checkbox */
#custom-checkbox-label input[type="checkbox"] {
    display: none;
}

#custom-checkbox-label .custom-checkbox {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #007BFF;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

#custom-checkbox-label input[type="checkbox"]:checked + .custom-checkbox {
    background-color: #007BFF;
    border-color: #007BFF;
}

#custom-checkbox-label .custom-checkbox::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
}

#custom-checkbox-label input[type="checkbox"]:checked + .custom-checkbox::after {
    opacity: 1;
}

#custom-checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #007BFF;
    cursor: pointer;
    transition: color 0.3s;
}

#custom-checkbox-label:hover .custom-checkbox {
    border-color: #0056b3;
}

#custom-checkbox-label:hover {
    color: #0056b3;
}
/* dark mode toggler checkbox */
